events {
    worker_connections  1024;
}

http {

    include /etc/nginx/mime.types;

    server {
        listen 80;
        server_name localhost;
        root   /srv/www;

#        for https need to add server at port 443
#        return 301 https://$host$request_uri;
    
        set $name $arg_name;

        location ~ \.(css|js|png|jpeg)$ {
            expires 1h;
            add_header Cache-Control "max-age=3600";
        }

        location ~ \.env$ {
            deny all;
        }

        location /api/ {
#            return 200 "Host - $host\nURI - $uri\nArgs - $args\nName - $name\n";
            proxy_pass "http://127.0.0.1:3000/";
            rewrite /api/$uri /$uri break;
        }

        location /old_page {
                return 301 /new_page;
        }

        error_page   404  /404.html;
	    location = /404.html {
            root   /srv/www;
            }

    }


    server {
        listen 8080;
        server_name localhost;

        return 200 "hello from port 8080!\n";
    }
}
